/* Start Global Styling */
:root {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    --primary-color: #ffe500;
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    --third-text-color: #d4d4d4;
    --transition-duration: 0.3s;
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* End Global Styling */
