/* Start Global Styling */
:root {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    --primary-color: #ffe500;
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    /* --third-text-color: #ddd; */
    --third-text-color: #d4d4d4;
    --transition-duration: 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Components start */

.section-start {
    font-size: 4rem;
    font-weight: bold;
    color: var(--secondary-text-color);
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

@media(max-width:767px) {
    .section-start {
        font-size: 2.5rem;
    }
}

.section-start::before {
    position: absolute;
    content: "OUR SERVICES";
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: #777;
    font-size: 2rem;

}

.section-start::after {
    position: absolute;
    content: "";
    bottom: -0px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 2px;
    background-color: var(--primary-color);
}

/* Components end */


/* default mobile styling */
.container {
    width: 100%;
    padding: 10px;
    margin: 0px auto;
}

/* I decided to make the containers' widths lower than 
the screen by 40px */
@media (min-width:768px) {
    .container {
        width: 728px;
    }
}

@media (min-width:992px) {
    .container {
        width: 952px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1160px;
    }
}

/* End Global Styling */

/* Header start */
.header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.30);
    /* padding: 20px 0; */
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    /* z-index: 1; */
}

.header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header .logo {
    height: fit-content;
}

.header .logo img {
    width: 143px;
    height: 60px;
    margin-top: -10px;
}

.header .container i {
    display: none;
    font-size: 2.5rem;
    color: var(--primary-text-color);
    cursor: pointer;
    z-index: 5;
}

@media(max-width:991px) {
    .header .container i {
        display: block;
        align-self: center;
    }

}

.header .links {
    display: flex;
    align-items: center;
    transition: top var(--transition-duration);
    z-index: 5;
}

@media(max-width:991px) {
    .header .links {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 0px;
        top: 95px;
        background-color: rgba(0, 0, 0, 0.30);
        opacity: 0;
        height: 100vh;
        padding: 0px 20px;
        z-index: 5;

    }

    .header .container i:hover+.links {
        display: flex;
        opacity: 1;
        top: 55px;
    }
}


.header .links li {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    position: relative;
    padding: 20px 0px;
    margin: 0;
}

.header .links li {
    margin-right: 40px;
    margin-left: 40px;
}

@media (max-width:991px) {
    .header .links li {
        padding: 25px 0px 25px 0px;
        margin-left: 0px;
        align-self: flex-start;
    }
}

.header .links li:first-child {
    margin-left: 0px;
}

.header .links li:last-child {
    margin-right: 0px;
}

.header .links li+li::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:991px) {
    .header .links li::before {
        display: none;
    }
}

.header .links li a {
    transition: color var(--transition-duration);
}

.header .links li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    background-color: var(--primary-color);
    transition: width var(--transition-duration);
}

.header .links li a:hover::after {
    width: 100%;
    height: 3px;
}

.header .links li a:hover {
    color: var(--primary-color);
}

/* Header end */

/* Landing start */
.landing {
    background-image: url("../imgs/bgs/bridge.jpg");
    background-size: cover;
    background-position: top right;
    height: 100vh;
}

.landing .landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.landing .landing-content .bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.50);
    height: fit-content;
    width: 100%;
}

.landing .landing-content .bar h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    color: var(--primary-text-color);
    width: 650px;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.2;
}

@media(max-width:767px) {
    .landing .landing-content .bar h1 {
        font-size: 3rem;
        width: 370px;
    }
}

.landing .landing-content .bar .btn {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-text-color);
    padding: 15px 30px;
    margin-top: 20px;
    /* letter-spacing: -1px; */
    cursor: pointer;
    transition: var(--transition-duration);
    position: relative;
    z-index: 0;
}

.landing .landing-content .bar .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    transition: var(--transition-duration);
}

.landing .landing-content .bar .btn:hover::before {
    width: 100%;
}

.landing .landing-content .bar .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -2;
}

.landing .landing-content .down-arrow {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px 15px;
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.landing .landing-content .down-arrow i {
    position: relative;
    animation: up-and-down 0.5s linear infinite;
}

/* Landing end */

/* Services start */
.services {
    padding: 100px 0px 70px 0px;
    background-color: var(--secondary-color);
}

.services .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services .container .details {
    color: var(--third-text-color);
    font-size: 1.7rem;
    text-align: center;
    width: 75%;
    align-self: center;
}

.services .container .service-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.services .container .service-boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
}


.services .container .service-boxes .box .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color, background-color var(--transition-duration) linear;
}

.services .container .service-boxes .box .icon:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 3px solid #ddd;
}


.services .container .service-boxes .box .icon i {
    font-size: 4rem;
}

.services .container .service-boxes .box h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.services .container .service-boxes .box p {
    color: var(--third-text-color);
    font-size: 1.7rem;
    text-align: center;
}

/* Services end */

/* Process start */
.process {
    background-image: url("../imgs/bgs/abstract.jpg");
    background-size: cover;
    min-height: 400px;
    padding: 70px 0px;
    position: relative;
    z-index: -2;
}

.process::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.process .container {
    /* display: flex;
    flex-direction: column; */

}

.process .details {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.process .details h2 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.process .details p {
    font-size: 1.7rem;
    color: var(--third-text-color);
}

.process .process-steps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    justify-content: center;
    gap: 30px;
}

.process .process-steps .step {
    text-align: center;
}

.process .process-steps .step i {
    font-size: 4rem;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.process .process-steps .step h3 {
    font-size: 2rem;
    color: var(--primary-text-color);
    margin-bottom: 15px;

}

.process .process-steps .step p {
    color: var(--third-text-color);
    font-size: 1.7rem;
}

/* Process end */


/* Animations start */
@keyframes up-and-down {
    50% {
        transform: translateY(10px);
    }
}

/* Animations end */