/* Start Global Styling */
:root {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    --primary-color: #ffe500;
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    --transition-duration: 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* default mobile styling */
.container {
    width: 100%;
    padding: 10px;
    margin: 0px auto;
}

/* I decided to make the containers' widths lower than 
the screen by 40px */
@media (min-width:768px) {
    .container {
        width: 728px;
    }
}

@media (min-width:992px) {
    .container {
        width: 952px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1160px;
    }
}

/* End Global Styling */

/* Header start */
.header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.30);
    /* padding: 20px 0; */
    height: 90px;
    position: relative;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    height: fit-content;
}

.header .logo img {
    width: 143px;
    height: 60px;
    margin-top: -10px;
}

.header .container i {
    display: none;
    font-size: 2.5rem;
    color: var(--primary-text-color);
    cursor: pointer;
}

@media(max-width:991px) {
    .header .container i {
        display: block;
        align-self: center;
    }

}

.header .links {
    display: flex;
    align-items: center;
    transition: top var(--transition-duration);
    z-index: 1;
}

@media(max-width:991px) {
    .header .links {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 95px;
        background-color: rgba(0, 0, 0, 0.30);
        opacity: 0;
        height: 100vh;
        padding: 0px 20px
    }

    .header .container i:hover+.links {
        opacity: 1;
        top: 55px;
    }
}


.header .links li {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    position: relative;
    padding: 20px 0px;
    margin: 0;
}

.header .links li {
    margin-right: 40px;
    margin-left: 40px;
}

@media (max-width:991px) {
    .header .links li {
        padding: 25px 0px 0px 0px;
        margin-left: 0px;
        align-self: flex-start;
    }
}

.header .links li:first-child {
    margin-left: 0px;
}

.header .links li:last-child {
    margin-right: 0px;
}

.header .links li+li::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:991px) {
    .header .links li::before {
        display: none;
    }
}

.header .links li a {
    transition: color var(--transition-duration);
}

.header .links li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    background-color: var(--primary-color);
    transition: width var(--transition-duration);
}

.header .links li a:hover::after {
    width: 100%;
    height: 3px;
}

.header .links li a:hover {
    color: var(--primary-color);
}

/* Header end */

/* Landing start */

/* Landing end */